<h1><i>"The last blogger you'll ever use"</i></h1>

<ul id="articles">
  <% if @articles.count == 0 %>
    <h2>You should write an article!</h2>
  <% else %>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title,  article_path(article) %>
      </li>
    <% end %>
  <% end %>

  <%= link_to "#Tags", tags_path%>

  <% if logged_in? %>
    <%= link_to "New Article",  new_article_path, class: "new_article" %>
  <% end %>
</ul>
